<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th colspan="3">Chỉnh sửa</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <th scope="row"><%= user.name %></th>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New User', new_user_path,class:"btn btn-primary",role:"button" %>
<!-- <a class="btn btn-primary" href="/users/new" role="button">New User</a> -->
